<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tableros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<style>
    td {
        background-color: #638CFF;
        padding: 2%;
    }

    .img-player {
        max-width: 100px;
    }

    #cssTable td {
        text-align: center;
        vertical-align: middle;
    }
</style>
<body>
<table id="cssTable" style="margin: 1% 17% 10%;">
    <thead>
    <tr>
        <th th:each="cs: ${columnas}">
            <form ACTION="#" th:action="@{/mov/{id}(id=${tablero.id})}" th:object="${tablero}" method="POST">
                <input type="hidden" th:field="*{nombre}"/>
                <input type="hidden" th:field="*{nfilas}"/>
                <input type="hidden" th:field="*{ncolumnas}"/>
                <input  th:value="${tablero.matrix}" th:field="*{matrix}"/>

                <button type="submit">Colocar ficha</button>
            </form>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row: ${tablero.matrix}">
        <td th:each="value: ${row}">
            <img th:if="${value == 0} " class="img-fluid img-player"
                 src="../static/images/white.png" th:src="@{/images/white.png}">
            <img th:if="${value == 1} " class="img-fluid img-player"
                 src="../static/images/red.png" th:src="@{/images/red.png}">
            <img th:if="${value == 2} " class="img-fluid img-player"
                 src="../static/images/yellow.png" th:src="@{/images/yellow.png}">
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
